.wave {
    fill: #141414;
    width: 100%;
    height: 50vh; /* Adjusted the height to make the wave smaller */
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
    animation: waveGradientChange 5s infinite;
}


/* Keyframes for the gradient change animation */
@keyframes waveGradientChange {
    0%, 100% {
        fill: #d1d1d1; /* Initial fill color */
    }
    50% {
        fill: #666666; /* Target fill color */
    }
}


/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Global styles */
body {
    font-family: "Libre Baskerville", serif;
    line-height: 1.6;
    background-color: #d1d1d1;
    color: #141414;
    margin: 0 auto; /* Center content horizontally */
    
}



/* Navbar styles */
nav {
    background-color: #141414;
    padding: 10px 0;
    height: 50px; /* Increased the height for better visibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the icons and text */
    margin-top: 10px;
}

nav li {
    margin: 0 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    display: flex; /* Display the icons and text in a flex layout */
    align-items: center; /* Vertically center the icons and text */
    padding: 5px 10px;
}

nav li a img {
    margin-right: 10px; /* Add a small margin between the icon and text */
}

nav li a:hover {
    background-color: #d1d1d1;
    border-radius: 10px;
    color: #141414;
    font-weight: bold;
}

nav li a:active {
    background-color: #5a5a5a;
    border-radius: 10px;
    color: #313131;
    font-weight: bold;
}

/* Intro section styles */
.intro-section {
    text-align: center;
    padding: 50px 0;
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center child elements horizontally */
}

.intro-section h1 {
    font-size: 80px;
    margin-bottom: 10px;
    /* Set initial text color */
    color: #141414;
    /* Create animation with keyframes */
    animation: gradientChange 5s infinite;
}

/* Keyframes for the gradient change animation */
@keyframes gradientChange {
    0%, 100% {
        color: #141414; /* Initial text color */
    }
    50% {
        color: #d1d1d1; /* Target color */
    }
}

.intro-section hr {
    width: 20rem;
    height: 3px;
    background-color: #141414;
    margin: 0 auto 30px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Added flex: 1 to take up available vertical space */
}

a {
    text-decoration: none; /* Add this line to remove the underline */
    color: inherit;
}

button {
    background-color: #141414;
    color: #fff;
    border: none;
    padding: 12px 25px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #141414;
    font-weight: bold;
}

button:active {
    background-color: #808080;
    color: #3b3939;
    font-weight: bold;
}

#about-button {
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-weight: 900;
    font-size: 20px;
    transition: all 0.3s;
    display: flex; /* Added display flex */
    justify-content: center; /* Added justify-content center */
    align-items: center; /* Added align-items center */
}

#about-button:hover {
    background-color: #ffffff;
    color: #141414;
    font-weight: bold;
}

#about-button:active {
    background-color: #808080;
    color: #3b3939;
    font-weight: bold;
}

#about-button .loading {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgb(245, 239, 239);
    animation: loading-animation 2s linear infinite;

    /* Add flexbox properties to center the loading element */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-button h3 {
    margin: 0;
    padding: 0;
}

#about-button .loading * {
    display: none;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* About section styles */
.about-section {
    text-align: center;
    padding: 50px 0;
    background-color: #d1d1d1;
}

.about-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.about-section div {
    max-width: 40rem; /* Set a maximum width for the div */
    margin: 0 auto; /* Center the div horizontally */
    text-align: center; /* Center the text inside the div */
}

#about-description {
    font-size: 18px;
    line-height: 1.6;
}

/* Stack section styles */
.stack-section {
    text-align: center;
    padding: 50px 0;
    background-color: #b3b3b3;
}

.stack-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#stack {
    font-size: 18px;
    line-height: 1.6;
    margin: 5px 0;
}


/* Email section styles */
.email-section {
    text-align: center;
    padding: 3.5vw 0; /* Use viewport width units for padding */
    background-color: #d1d1d1;
}

.email-section h1 {
    font-size: 3.5vw; /* Use viewport width units for font size */
    margin-bottom: 1em; /* Use em units for margin */
}

.form-group {
    max-width: 90%; /* Set a maximum width relative to the parent container */
    margin: 0 auto; /* Center the form horizontally */
    text-align: center; /* Center the elements inside the form */
}

.form-control {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1em; /* Use em units for font size */
    margin-bottom: 2em; /* Use em units for margin */
    border-radius: 0.8em; /* Use em units for border radius */
    border: none;
    outline: none; /* Remove the outline when active/focused */
}

.form-control::placeholder {
    color: #808080;
}

.form-button {
    background-color: #141414;
    color: #fff;
    border: none;
    padding: 1.2em 2.5em; /* Use em units for padding */
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1.5em; /* Use em units for border radius */
    font-size: 1em; /* Use em units for font size */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Add these styles to handle valid and invalid inputs */
.invalid-input {
    border: 2px solid rgb(138, 0, 0);
}

.valid-input {
    border: 2px solid rgb(0, 121, 0);
}

  

/* Responsive styles */
@media screen and (max-width: 768px) {
    .form-group {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }
    .form-control {
        margin-bottom: 1.5em; /* Adjust margin for smaller screens */
    }
    .email-section h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}


/* Contact section styles */
.contact-section {
    text-align: center;
    padding: 30px 0;
    background-color: #b3b3b3;
}

#contacts {
    font-size: 18px;
    line-height: 1.6;
    margin: 5px 0;
}

#contacts a {
    color: #141414;
    text-decoration: none;
}

#contacts a:hover {
    color: #d1d1d1;
    background-color: #141414;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

#contacts a:active {
    color: #616161;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Work Section */
.work-section {
    text-align: center;
    padding: 30px;
    background-color: #d1d1d1;
}

.work-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.work-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.work-card {
    background-color: #b3b3b3;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px;
    flex: 1; /* Allow the cards to distribute the available space evenly */
}

.work-card h3 {
    font-size: 20px;
    margin-bottom: 5rem;
}

#backBtn,
#nextBtn {
    cursor: pointer;
}

#work-btn {
    margin-bottom: 0rem;
}
  
/* Frontendmentor Container */
.frontendmentor-container {
    padding: 50px 0;
    background-color: #b3b3b3;
  }
  
  .fm-profile {
    text-align: center;
  }
  
  .fm-profile h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  