/* styles.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #010130;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #556B2F;
  border-radius: 20px;
  box-shadow: 100px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 320px;
}

#display {
  background-color: #b9b9b9;
  border-radius: 10px;
  padding: 12px;
  text-align: right;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.button {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #b9b9b9;
}

.button:active {
  background-color: #7a7a7a;
}

#equals {
  grid-column: span 2;
  background-color: #800000;
}

#equals:hover {
  background-color: #490000;
}

#equals:active {
  background-color: #160000;
}

/* Additional styles for number buttons */
.button.number {
  background-color: #f9f9f9;
  color: #333;
}

.button.number:hover {
  background-color: #eee;
}

/* Additional styles for operator buttons */
.button.operator {
  background-color: #f44336;
  color: #fff;
}

.button.operator:hover {
  background-color: #d32f2f;
}
